body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444;
}

header {
    padding: 10px 0;
    text-align: center;
    background-color: #0e274a;
    width: 100%;
    border-bottom: 1px solid #0e274a;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative; /* Pour permettre le positionnement du sous-menu */
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Couleur de texte en blanc */
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Poids de police normal */
    font-size: 16px;
}

/* Effet au survol des liens */
nav ul li a:hover {
    color: #007bff; /* Couleur de survol */
}

/* Styles pour le sous-menu */
.dropdown-menu {
    display: none; /* Masquer le sous-menu par défaut */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0e274a;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 200px;
    border: 1px solid #0e274a; /* Ajouter une bordure */
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff; /* Couleur de texte du sous-menu */
    display: block;
}

.dropdown-menu li a:hover {
    color: #007bff; /* Couleur de survol du sous-menu */
}

/* Afficher le sous-menu au survol */
.dropdown:hover .dropdown-menu {
    display: block;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0e274a; /* Couleur de fond pour le footer */
    color: #fff; /* Couleur du texte dans le footer */
    position: absolute;
    bottom: 10;
    width: 100%;
}

button {
    background-color: #fff;
    border: 1px solid #222;
    color: #ccc;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 300px;
    text-align: center;
}

button:hover {
    border: 2px solid #8a2be2;
    color: white;
}


h2 {
    color: #007bff;
    font-size: 24px;
}

h3 {
    color: #007bff;
    font-size: 20px;
    font-weight: normal;
}

p {
    font-size: 16px;
    margin-bottom: 2em;
    white-space: pre-line;
    color: #ccc;
    
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.image-container .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}
.typeA{
    border: #444 10px;
    background-color: #444;
}

h2{
    margin-left: 80px;
    margin-top: 25px;
}
h3{
    margin-left: 80px;
}
p{
    margin-left: 80px;
    
}

